Predicting life expectancy node red.json
[{"id":"3aa990a6.fecc","type":"tab","label":"Predicting life expectancy","disabled":false,"info":""},{"id":"59db1af2.042a34","type":"function","z":"3aa990a6.fecc","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ud\",msg.payload.ud)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"di\",msg.payload.di)\nglobal.set(\"hi\",msg.payload.hi)\nglobal.set(\"gd\",msg.payload.gd)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"ty\",msg.payload.ty)\nglobal.set(\"tys\",msg.payload.tys)\nglobal.set(\"icr\",msg.payload.icr)\nglobal.set(\"sc\",msg.payload.sc)\nvar apikey=\"Cr58cGUR-w6TjvFJQYqdGV81ccW6apTBwtUX5PsP_5g-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":360,"wires":[["9cd1ed6.757d31"]]},{"id":"9cd1ed6.757d31","type":"http request","z":"3aa990a6.fecc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":360,"wires":[["bfa5be64.3c912"]]},{"id":"c275a325.04a87","type":"inject","z":"3aa990a6.fecc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":300,"wires":[["59db1af2.042a34"]]},{"id":"4c2e410f.e103e","type":"debug","z":"3aa990a6.fecc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":107.00000190734863,"wires":[]},{"id":"bfa5be64.3c912","type":"function","z":"3aa990a6.fecc","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar st = global.get('st')\nvar am = global.get('am')\nvar id = global.get('id')\nvar al = global.get('al')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar me = global.get('me')\nvar bm = global.get('bm')\nvar ud = global.get('ud')\nvar po = global.get('po')\nvar te = global.get('te')\nvar di = global.get('di')\nvar hi = global.get('hi')\nvar gd = global.get('gd')\nvar pp = global.get('pp')\nvar ty = global.get('ty')\nvar tys = global.get('tys')\nvar icr = global.get('icr')\nvar sc = global.get('sc')\nvar token=msg.payload.access_token\nvar instance_id=\"2d6fc3d0-3802-47c1-b276-b012fc946ce2\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Year\",\"Status\",\"Adult mortality\",\"Infant deaths\",\"Alcohol\",\"Percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"Under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"Thinness 1-19 years\",\"Thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\": [[ye,st,am,id,al,pe,hb,me,bm,ud,po,te,di,hi,gd,pp,ty,tys,icr,sc]]}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":360,"wires":[["bbf95291.29aed"]]},{"id":"bbf95291.29aed","type":"http request","z":"3aa990a6.fecc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2d6fc3d0-3802-47c1-b276-b012fc946ce2/deployments/8d2f6ad7-4d4d-44b1-9a86-9e540342d889/online","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":360,"wires":[["f29af85.e1b2508","2bbf10b8.40116"]]},{"id":"96e47725.da4f28","type":"ui_form","z":"3aa990a6.fecc","name":"","label":"Status: Developing:0 Developed:1","group":"cedcfc24.0e74f","order":1,"width":"0","height":"0","options":[{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status","value":"st","type":"number","required":true,"rows":null},{"label":"Adult mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"Percentage expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"me","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"Under-five deaths","value":"ud","type":"number","required":true,"rows":null},{"label":"Polio","value":"po","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"di","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hi","type":"number","required":true,"rows":null},{"label":"GDP","value":"gd","type":"number","required":true,"rows":null},{"label":"Population","value":"pp","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"ty","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"tys","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":true,"rows":null}],"formValue":{"ye":"","st":"","am":"","id":"","al":"","pe":"","hb":"","me":"","bm":"","ud":"","po":"","te":"","di":"","hi":"","gd":"","pp":"","ty":"","tys":"","icr":"","sc":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":180,"y":400,"wires":[["59db1af2.042a34"]]},{"id":"e6eeb798.001a58","type":"ui_text","z":"3aa990a6.fecc","group":"cedcfc24.0e74f","order":2,"width":0,"height":0,"name":"","label":"Predicted value:","format":"{{msg.payload}}","layout":"row-center","x":860,"y":180,"wires":[]},{"id":"2bbf10b8.40116","type":"function","z":"3aa990a6.fecc","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":604.6000366210938,"y":167.60000610351562,"wires":[["4c2e410f.e103e","e6eeb798.001a58"]]},{"id":"f29af85.e1b2508","type":"debug","z":"3aa990a6.fecc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":420,"wires":[]},{"id":"cedcfc24.0e74f","type":"ui_group","z":"","name":"Predicting life expectancy","tab":"d7dec5e9.66baa8","order":2,"disp":true,"width":"9","collapse":false},{"id":"d7dec5e9.66baa8","type":"ui_tab","z":"","name":"PLE","icon":"dashboard","disabled":false,"hidden":false}]